button{
     color:blue;
     font-size: 50px;
     background-color: red;
     border:none;
 }
 
 input{
     font-size: 50px;
 }
 
 .text{
     font-size: 50px;
     font-family: 'arial';
 }
 
 ul li{
     font-size: 30px;
     color:red;
     text-align: center;
     position: center;
 }
 
 .imCustomClass{
     text-decoration: underline;
     color:yellow;
 }
 
 #audio{
     display: none;
 }
 
 .btn-back{
     border: 1px solid #f00;
     padding: 5px 20px 5px 20px;

}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
 
 ul{
     list-style: none !important;
     margin: auto;
     width: 20%;
     padding: 10px;
 }
 
 ul li{
     border-radius: 3px;
     padding-left: : 200px;
     background: #f00;
     color: #fff;
     width: 200px;
     margin-bottom: 10px;
 }
 
 ul li:hover{
     background: green;
 }
 
 
 ul li a{
     color: #fff;
 }